.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 5%;
}
.product {
  width: calc(20% - 10px);
  margin-bottom: 30px;
  border: 2px solid black;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  ;
}
.product img {
  max-width: 300px;
  max-height: 300px;
  border: 2px solid black;
  border-radius: 10px;
}
.product h2 {
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
}
.product p {
  font-size: 20px;
  margin-top: 5px;
}